* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 10px 250px;
  position: fixed;
  top: 0;
  margin-bottom: 50px;
  background-color: #fff;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

.logo {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  border: 2px solid #000;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin-left: 10px;
}

nav ul li {
  margin-left: 100px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
}

.meals {
  text-decoration: underline;
  font-weight: bold;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 150px;
  margin-bottom: 60px;
  justify-items: center;
}

.image {
  height: 200px;
  width: 200px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.likes {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-between;
  padding: 20px 10px;
}

button {
  /* margin-left: 20px; */
  margin-bottom: 30px;
  padding: 10px 10px;
  background-color: #fff;
  border: 2px solid black;
  box-shadow: 5px 5px 2px 1px black;
  font-size: 0.8em;
  cursor: pointer;
  align-self: center;
}

.popup-window {
  position: relative;
  width: 65%;
  margin: 0 auto;
  padding: 20px;
  backdrop-filter: blur(4px);
}

.close-menu {
  font-size: 35px;
  position: absolute;
  top: 33px;
  font-weight: 900;
  right: -30px;
  cursor: pointer;
}

.popup-window li {
  list-style: none;
}

.popup-img-div img {
  margin-top: 20px;
  width: 100%;
  height: 400px;
}

.popup-details-div {
  text-align: center;
}

.popup-details-div h1 {
  font-size: 50px;
}

.details-list {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.comments-container h3 {
  text-align: center;
  margin: 20px 0;
}

.comments-container form {
  width: 50%;
  margin: 0 auto;
}

.input-group input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.button-div button {
  margin-left: 0;
}

footer {
  padding: 20px 100px;
  border-top: 2px solid black;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #fff;
  margin-top: 100px;
}
